/* Loading Screen */
.loading-screen {
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #2524228a;
}
.loading-screen h1 {
  margin: 0;
  margin-bottom: 6px;
}
.loading-screen button {
  padding: 8px;
  margin-top: 24px;
  width: 100px;
  font-size: larger;
  background-color: #eb5e28;
  border: 0;
  border-radius: 16px;
  color: #fffcf2;
  transition: ease scale 0.1s;
  cursor: pointer;
}
.loading-screen button:hover {
  scale: 1.1;
}

/* Panel */
.add-form-panel {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;

  height: 100%;
  width: 40%;

  box-shadow: 0px 0px 30px 5px #2524227f;
  border-radius: 0 16px 16px 0;

  animation: panelIn 0.5s ease forwards;

  transition: ease background-color 0.5s, ease color 0.5s;
}
.add-form-panel[animating="true"] {
  animation: panelOut 0.5s ease forwards;
}
.light-panel {
  background-color: #fffcf2;
  color: #252422;
}
.dark-panel {
  background-color: #403d39;
  color: #fffcf2;
}
/* --- */

/* Form Style/Panel */
.form-style {
  height: 100%;
  padding: 0 16px;
}
/* --- */

/* Close Button */
.add-form-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;

  padding: 8px;
  margin: 8px;

  cursor: pointer;
  color: #eb5e28;
  background-color: #252422;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, #2524226d 0px -2px 6px 0px inset;
  border-radius: 50%;

  transition: ease background-color 0.5s, ease filter 0.1s;
}
.add-form-close:hover {
  filter: brightness(92%);
}
.add-form-close:active {
  filter: brightness(88%);
}
.dark-close {
  background-color: #252422;
}
.light-close {
  background-color: #fffcf2;
}
/* --- */

/* Section Upload Pictures */
.section-upload-pictures {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.section-upload-header {
  margin-bottom: 8px;
}

/* --- */

/* Images wrapper */
.images-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;

  text-align: center;
  gap: 8px;

  padding: 0;
  margin: 16px 0;
  list-style: none;
}
input[type="file"] {
  display: none;
}

.image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  gap: 8px;
}
.upload-image-button {
  display: flex;
  justify-content: center;

  padding: 8px;
  width: 100%;
  height: auto;

  background-color: #fffcf2;
  color: #252422;
  font-weight: 600;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, #2524226d 0px -2px 6px 0px inset;

  border-radius: 16px;
  cursor: pointer;
  transition: ease color 0.5s, ease background-color 0.5s, ease box-shadow 0.5s,
    ease scale 0.2s;
}
.dark-upload {
  color: #252422;
  background-color: #fffcf2;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, #2524226d 0px -2px 6px 0px inset;
}
.light-upload {
  color: #fffcf2;
  background-color: #252422;
  box-shadow: rgba(137, 137, 156, 0.25) 0px 50px 100px -20px,
    rgba(255, 255, 255, 0.533) 0px 30px 60px -30px,
    #d1d1d16d 0px -2px 6px 0px inset;
}
.upload-image-button:hover {
  scale: 1.025;
}

.image-preview-button {
  display: flex;
  justify-content: center;

  padding: 4px;
  width: 80%;

  color: #fffcf2;
  font-weight: 600;
  border: 2px solid #fffcf2;

  filter: brightness(80%);

  border-radius: 16px;
  cursor: pointer;
  transition: ease color 0.5s, ease border-color 0.5s, ease scale 0.2s;
}
.image-preview-button:hover {
  scale: 1.025;
  filter: brightness(100%);
}
.dark-preview-button {
  color: #fffcf2;
  border-color: #fffcf2;
}
.light-preview-button {
  color: #252422;
  border-color: #252422;
}

/* --- */

@keyframes panelIn {
  from {
    left: -40%;
  }
  to {
    left: 0;
  }
}
@keyframes panelOut {
  from {
    left: 0;
  }
  to {
    left: -40%;
  }
}
