/* Loading Screen */
.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #2524228a;
}
.loading-screen h1 {
  margin: 0;
  margin-bottom: 6px;
}
.loading-screen button {
  padding: 8px;
  margin-top: 24px;
  width: 100px;
  font-size: larger;
  background-color: #eb5e28;
  border: 0;
  border-radius: 16px;
  color: #fffcf2;
  transition: ease scale 0.1s;
  cursor: pointer;
}
.loading-screen button:hover {
  scale: 1.1;
}

/* Form Panel */
.add-form-panel {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;

  height: 100%;
  width: 40%;

  box-shadow: 0px 0px 30px 5px #2524227f;
  border-radius: 0 16px 16px 0;
  background-color: aqua;

  animation: panelIn 0.5s ease forwards;

  transition: ease background-color 0.5s;
}
.add-form-panel[animating="true"] {
  animation: panelOut 0.5s ease forwards;
}
.light-panel {
  background-color: #fffcf2;
  color: #252422;
}
.dark-panel {
  background-color: #403d39;
  color: #fffcf2;
}
/* --- */

/* Form Style */
.form-style {
  height: 100%;
}
/* --- */

/* Close Button */
.add-form-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;

  padding: 8px;
  margin: 8px;

  cursor: pointer;
  color: #eb5e28;
  background-color: #252422;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, #2524226d 0px -2px 6px 0px inset;
  border-radius: 50%;

  transition: ease background-color 0.5s, ease filter 0.1s;
}
.add-form-close:hover {
  filter: brightness(92%);
}
.add-form-close:active {
  filter: brightness(88%);
}
.dark-close {
  background-color: #252422;
}
.light-close {
  background-color: #fffcf2;
}
/* --- */

/* Section Upload Pictures */
.section-upload-pictures {
  display: flex;
  flex-direction: column;
}
/* --- */

/* Images wrapper */
.images-wrapper {
  display: flex;
  flex-direction: row;

  padding: 0;
  margin: 0;
  list-style: none;
}
input[type="file"] {
  display: none;
}

.image-item {
  margin: 8px;
  height: 60px;
}
.upload-image-button {
  display: flex;
  align-items: center;
  text-align: center;

  padding: 8px;
  width: 100%;
  height: 100%;

  border-radius: 16px;
  border: 1px solid white;
  cursor: pointer;
  transition: ease filter 0.1s;
}
.upload-image-button:hover {
  filter: brightness(92%);
}
.upload-image-button:active {
  filter: brightness(88%);
}
/* --- */

@keyframes panelIn {
  from {
    left: -40%;
  }
  to {
    left: 0;
  }
}
@keyframes panelOut {
  from {
    left: 0;
  }
  to {
    left: -40%;
  }
}
